body {
  background-image: url('photo-1623039405147-547794f92e9e.jpeg');
  background-size: cover;
  color: red;
}

header {
  background-color: black;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
  animation: bounce 30s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
section {
  padding: 20px;
}

h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
  font-size: 24px;
}

p {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
}

a {
  color: white;
}

footer {
  background-color: transparent;
  padding: 10px;
}

footer p {
  color: #007500;
  font-size: 14px;
}


.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2; /* Increased z-index value */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header {
  background-color: black;
  padding: 20px;
}

header h1 {
  color: white;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
