body {
  background-image: url('photo-1623039405147-547794f92e9e.jpeg');
  background-size: cover;
  color: red;
}

header {
  background-color: black;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  animation: bounce 30s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
section {
  padding: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: white;
}

p {
  margin-bottom: 10px;
  color: white;
}

a {
  color: white;
}

footer {
  background-color: transparent;
  padding: 10px;
}

footer p {
  color: #007500;
  font-size: 14px;
}


.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}
